<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="col-md-4 row">
      <div class="col-md-4"></div>
      <div class="col-md-4 m-3"><img src="https://www.monsternotebook.com.tr/images/frontend/monster-logo.svg" alt="" style="max-width: 250px; min-width: 150px;"></div>
      <div class="col-md-4"></div>
    </div>
    <div class="col-md-4">
      <form class="d-flex search-box" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <img class="srch" src="../../../../assets/images/icons8_Search_1.ico" alt="">
      </form>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <div class="nav-btn">Hesap</div>
        <div class="nav-btn">Sepet</div>
      </ul>
      <div class="p-2">
        <input id="darkMode" type="checkbox" [checked]="darkMode$ | async" (change)="onToggle()" class="toggle" />
        <label class="toggle-label" for="darkMode">
          <img src="../../../assets/images/icons8_sun.ico" class="moon" />
          <img src="../../../assets/images/icons8_do_not_disturb_ios_1.ico" class="sun" />
        </label>
      </div>
    </div>
  </div>
</nav>
