.toggle {
  display: none;
}

.toggle-label {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  cursor: pointer;
  margin: auto !important;
}

.sun,
.moon {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  transition: top 0.3s;
  user-select: none;
}

.sun {
  top: 0;
}

.moon {
  top: -150%;
}

.toggle:checked + .toggle-label .sun {
  top: 150%;
}

.toggle:checked + .toggle-label .moon {
  top: 0;
}
