<h3 *ngIf="products; else noProduct" class="m-5"></h3>
<ng-template #noProduct>
  <div class="alert alert-warning m-5" role="alert">
    Bu kategoride urun bulunmamaktadir.
  </div>
</ng-template>

<div class="row d-flex p-2 justify-content-start pCard ">
  <div *ngFor="let product of products" class="card ms-3 mt-3"
    style="width: 23rem; height: 50rem;">
    <div class="card-body" id="cardBody">
      <div class="row header">
        <img src={{product.productImg}} class="card-img-top" alt="...">
      </div>
      <div class="row body">
        <h4 class="card-title p-4">{{product.productName}}</h4>
        <p class="card-text mb-5" id="productDescription">
          <li *ngIf="product.property_1">{{product.property_1}}</li>
          <li *ngIf="product.property_2">{{product.property_2}}</li>
          <li *ngIf="product.property_3">{{product.property_3}}</li>
          <li *ngIf="product.property_4">{{product.property_4}}</li>
          <li *ngIf="product.property_5">{{product.property_5}}</li>
          <li *ngIf="product.property_6">{{product.property_6}}</li>
        </p>
      </div>
      <div class="row footer">
        <h3 class="card-title mb-4 mt-4">{{product.productPrice}}<span class="d">,00</span><span> TL</span>&nbsp;<span class="kdv">(KDV Dahil)</span></h3>
        <a (click)="addToCard(product)" class="btn btn-primary d-flex justify-content-center">Add to Card</a>
      </div>

    </div>
  </div>
</div>
