<h3 *ngIf="products; else noProduct" class="m-5"></h3>
<ng-template #noProduct>
  <div class="alert alert-warning m-5" role="alert">
    Bu kategoride urun bulunmamaktadir.
  </div>
</ng-template>

<div class="row d-flex p-2 justify-content-start">
  <!--<mat-form-field class="example-form-field">
    <input matInput type="text" [(ngModel)]="value">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <a>mamut</a>
    </button>
  </mat-form-field> -->
  <div *ngFor="let product of products" class="card ms-3 mt-3" style="width: 19rem; height: 45rem;">
    <img
      src={{product.productImg}}
      class="card-img-top" alt="...">
    <div class="card-body" id="cardBody">
      <h4 class="card-title mb-5 mt-5">{{product.productName}}</h4>
      <p class="card-text mb-5" id="productDescription">
        <li>{{product.property_1}}</li>
        <li>{{product.property_2}}</li>
        <li>{{product.property_3}}</li>
        <li>{{product.property_4}}</li>
        <li>{{product.property_5}}</li>
        <li>{{product.property_6}}</li>
      </p>
      <h3 class="card-title mb-5 mt-5">{{product.productPrice}}</h3>
      <a href="#" class="btn btn-primary d-flex justify-content-center">Go somewhere</a>
    </div>
  </div>
</div>
