<h3 *ngIf="products; else noProduct" class="m-5"></h3>
<ng-template #noProduct>
  <div class="alert alert-warning m-5" role="alert">
    Bu kategoride urun bulunmamaktadir.
  </div>
</ng-template>

<div class="row d-flex p-2 justify-content-start pCard">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="filterText">
  <div *ngFor="let product of products | productFilter:filterText" class="card ms-3 mt-3" style="width: 19rem; height: 45rem;">
    <img
      src={{product.productImg}}
      class="card-img-top" alt="...">
    <div class="card-body" id="cardBody">
      <h4 class="card-title mb-5 mt-5">{{product.productName}}</h4>
      <p class="card-text mb-5" id="productDescription">
        <li *ngIf="product.property_1">{{product.property_1}}</li>
        <li *ngIf="product.property_2">{{product.property_2}}</li>
        <li *ngIf="product.property_3">{{product.property_3}}</li>
        <li *ngIf="product.property_4">{{product.property_4}}</li>
        <li *ngIf="product.property_5">{{product.property_5}}</li>
        <li *ngIf="product.property_6">{{product.property_6}}</li>
      </p>
      <h3 class="card-title mb-5 mt-5">{{product.productPrice}}</h3>
      <a (click)="addToCard(product)" class="btn btn-primary d-flex justify-content-center">Add to Card</a>
    </div>
  </div>
</div>
