/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.min.css";

.container,.pCard{
  margin-right: auto !important;
  margin-left: auto !important;
}
.container{
  max-width: 100rem !important;
}
.div{
  display: block;
}

span[id$=lbfURN_KDVDAHILSATIS] {
  font-size: 15px;
  color: black;
  font-family: "regularS";
}


html, body { height: 100%; }
body { font-family: regularS, arial, sans-serif !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: none; }


  body.dark-mode{
    background-color: #2d3436;
    color: #dfe6e9;
  }
  body.light-mode{
    background-color: #dfe6e9;
    color: #2d3436;
  }
  body:not(.dark-mode-preloading) {
    transition: all 0.3s linear;
  }

  .dark-mode .card{
    border-radius: 0px;
    background-color: #2d3436;
    color: #dfe6e9;
  }
  .light-mode .card{
    border-radius: 0px;
    background-color: #dfe6e9;
    color: #2d3436;
  }
  .card:not(.dark-mode-preloading) {
    transition: all 0.3s linear;
  }


  .dark-mode .list-group-item{
    background-color: #2d3436;
    color: #dfe6e9;
  }
  .light-mode .list-group-item{
    background-color: #dfe6e9;
    color: #2d3436;
  }
  .list-group-item:not(.dark-mode-preloading) {
    transition: all 0.3s linear;
  }


  .dark-mode .navbar .form-control{
    background-color: #2d3436;
    color: #dfe6e9;
  }
  .light-mode .navbar .form-control{
    background-color: #dfe6e9;
    color: #2d3436;
  }
  .navbar:not(.dark-mode-preloading) {
    transition: all 0.3s linear;
  }
