/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.min.css";

.container,.pCard{
  margin-right: auto !important;
  margin-left: auto !important;
}
.container{
  max-width: 100rem !important;
}
.div{
  display: block;
}

span[id$=lbfURN_KDVDAHILSATIS] {
  font-size: 15px;
  color: black;
  font-family: "regularS";
}


html, body { height: 100%; }
body { font-family: regularS, arial, sans-serif !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: none; }
